# =========================
# FRONTEND
# =========================
frontend/node_modules
frontend/.next
frontend/out

# =========================
# BACKEND
# =========================
backend/__pycache__
backend/*.pyc
backend/.env
backend/*.db

# =========================
# ENV FILES
# =========================
.env
.env.local

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCODE
# =========================
.vscode/